.newsletter {
  background-image: url("/images/newsletter-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  margin-top: -3px;

  .newsletter__form {
    border: 2px solid #dcca8734;
    background-color: #0c0c0c;
    box-shadow: -23px -1px 152px -9px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -23px -1px 152px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: -23px -1px 152px -9px rgba(0, 0, 0, 1);
    ._heading {
      color: #dcca87;
      font-size: 4rem;
      line-height: 1;
    }
    .newsletter__heading-char {
      display: inline-block;
      transform-origin: bottom;
    }
    ._form {
      width: 100%;
      .newsletter__input {
        border: 1px solid #fff;
        background: none;
        width: 60%;
        padding: 10px;
        transition: all 0.5s;
        &:focus {
          outline: 0;
          border: 1px solid #dcca87;
        }
      }
      .newssletter__submit {
        padding: 10px;
        background-color: #dcca87;
        font-weight: 500;
        border: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .newsletter__form {
      ._heading {
        font-size: 3rem;
      }
      ._form {
        width: 100%;
        .newsletter__input {
          width: 100%;
        }
        .newssletter__submit {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
}
