@use "../../style/base/color.scss" as *;

.navbar-main {
  padding: 15px;
  border-bottom: 2px solid #ffffff28;
  padding-bottom: 40px;
  margin-bottom: 40px;

  .nav__toggler {
    background: none;
    border: none;
    color: $white;
    font-size: 1.5rem;
  }
  &.--homepage {
    margin-bottom: 0px;
    border-bottom: none;
    width: 100%;
  }
  .navbar__menu {
    position: absolute;
    inset: 0;
    z-index: 1000;
    display: flex;
    height: 100vh;

    .navbar__items {
      flex-basis: 50%;
      background-color: $primary;
      padding: 0;
      margin: 0;
      height: 100%;
      .navbar__list-items {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding: 0;
        height: 100%;
        li {
          flex: 1 1 0;
        }
        .navbar__item {
          border-bottom: 1px solid $gray-2;
          padding: 1rem 0.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          flex: 1 1 0;
          a {
            height: 100%;
            align-items: center;
            display: flex;
            column-gap: 40px;
            font-family: "Harmond";
            font-size: 2.9rem;
            line-height: 1;
            text-transform: uppercase;
            transition: color 0.3s ease;
            flex: 1;
            color: #2b4033;
            padding-left: 30px;
            span.navbar__item__number {
              font-size: 1.5rem;
            }
            .__nav__icon {
              font-size: 2rem;
              flex: 1 1 0;
              text-align: end;
              margin: 0 30px;
            }
          }
          &:hover {
            a {
              color: $white;
            }
          }

          &.--active {
            a {
              color: $white;
            }
          }
        }
      }
    }

    .navbar__menu__right {
      flex-basis: 50%;
      background-color: #4b352a;
      .nav__box__item {
        p.nav__box__item-title {
          color: $white;
          font-family: "Athina Regular";
          font-size: 2rem;
        }
        p {
          color: $primary;
          font-family: "Harmond";
          font-size: 1.2rem;
        }
      }
    }
  }
  /* @media screen and (max-width: 992px) {
    background-color: #070707;
    position: relative;
    border-radius: 15px;
    margin: 0 15px;
    padding-bottom: 15px;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    top: 0;
    .navbar__items {
      padding: 0;
      font-size: 1.5rem;
      height: 0;
      overflow: hidden;

      .navbar__list-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1440px) {
    .navbar__items {
      background-color: red;
      .navbar__list-items {
        gap: 0;
        .navbar__item {
          a {
            font-size: 1rem;
          }
        }
      }
    }
  } */
}
