@use "../../style/base/color.scss" as *;

.navbar-main {
  padding: 15px;
  border-bottom: 2px solid #ffffff28;
  padding-bottom: 40px;
  margin-bottom: 40px;
  .navbar__items {
    .navbar__list-items {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-around;
      .navbar__item {
        a {
          font-size: 1.1rem;
          text-transform: uppercase;
          transition: color 0.3s ease;
        }
        &:hover {
          a {
            color: $white;
          }
        }

        &.--active {
          a {
            color: $white;
          }
        }
      }
    }
  }
  .nav__toggler {
    background: none;
    border: none;
    color: $white;
    font-size: 1.5rem;
  }
  &.--homepage {
    margin-bottom: 0px;
    border-bottom: none;
    width: 100%;
  }
  @media screen and (max-width: 992px) {
    background-color: #070707;
    position: relative;
    border-radius: 15px;
    margin: 0 15px;
    padding-bottom: 15px;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    top: 0;
    .navbar__items {
      padding: 0;
      font-size: 1.5rem;
      height: 0;
      overflow: hidden;

      .navbar__list-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1440px) {
    .navbar__items {
      .navbar__list-items {
        gap: 0;
        .navbar__item {
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
