.about__header {
  padding: 20px 0 100px;
  background-image: url("/images/home-header-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  .header__title {
    font-size: 5rem;
  }
  ._title-2 {
    line-height: 1;
    white-space: nowrap;
  }
  .header__despription {
    padding: 10px 100px;
    padding-left: 100px;
  }
  @media screen and (max-width: 768px) {
    padding: 20px 0 50px;

    .header__despription {
      padding: 10px 30px;
      padding-left: 0;
    }
  }
}
