
@use  '../../../../style/base/_color.scss' as *;
.events__cards__container{
    margin-top: 3rem;
    .event__card{
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .event__date{
            color: $gray-2;
            font-size: 1.2rem;
        }
        .event__title{
            color: $white;
            font-size: 1.8rem;
            margin: 0;
        }
        .card__link{
            color: $primary;
            letter-spacing: 5px;
        }
    }
}